.group-list
  .user-name 
    .name
      = current_user.name
    .group-icon
      .icon-edit
        = link_to do
          = icon('fas','edit',class: 'icon')
      .icon-cog
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'icon')
  .message
    .teachcamp
      teachchamp
    .commnt
      まだメッセージがありません
  
     
